// base/_typography.scss

body {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #eee;
  background-color: #121212;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0 0 0.5em 0;
  line-height: 1.2;
  color: #fff;
}

p {
  margin: 0 0 1em 0;
  font-size: 1rem;
}

a {
  color: #3498db;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
